.contenido {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenido h2 {
    text-align: center;
    margin-bottom: 20px;
}

#carrito {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#carrito .producto {
    display: flex;
    margin-bottom: 10px;
}

#carrito .producto img {
    width: 100px;
    margin-right: 20px;
}

#carrito .producto .detalle {
    flex-grow: 1;
}

#carrito .precio-total {
    margin-top: 10px;
    font-weight: bold;
}

.boton-compra{
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.boton-cancelar {
    background-color: #be2020;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boton-compra:hover{
    background-color: #218838;
}
.boton-cancelar:hover {
    background-color: #971010;
}

.boton-compra a,
.boton-cancelar a {
    color: white;
    text-decoration: none;
}

/* Función para hacer estilos consistentes en todos los dispositivos */
@media (max-width: 768px) {
    .contenido,
    .contenido h2,
    #carrito,
    #carrito .producto,
    #carrito .producto img,
    #carrito .producto .detalle,
    #carrito .precio-total,
    .boton-compra,
    .boton-cancelar {
        font-size: 16px; /* Ajusta el tamaño de fuente base para dispositivos móviles */
        margin: 0; /* Elimina cualquier margen adicional */
        padding: 10px; /* Añade padding para mejorar la legibilidad */
    }

    .boton-compra,
    .boton-cancelar {
        padding: 8px; /* Ajusta el padding de los botones en dispositivos móviles */
    }

    .contenido {
        max-width: 100%; /* Ajusta el ancho máximo del contenido para dispositivos móviles */
        border-radius: 0; /* Elimina el redondeo de bordes en dispositivos móviles */
    }

    .contenido h2 {
        font-size: 28px; /* Ajusta el tamaño de fuente del título h2 para dispositivos móviles */
        margin-bottom: 10px; /* Ajusta el margen inferior del título h2 para dispositivos móviles */
    }

    #carrito {
        padding: 10px; /* Ajusta el padding del carrito en dispositivos móviles */
        margin-bottom: 10px; /* Ajusta el margen inferior del carrito en dispositivos móviles */
    }

    #carrito .producto img {
        width: 80px; /* Ajusta el tamaño de las imágenes de producto en dispositivos móviles */
        margin-right: 10px; /* Ajusta el margen derecho de las imágenes de producto en dispositivos móviles */
    }
}
